<ion-header
  [translucent]='true'
  slot='fixed'
>
  <ion-toolbar>
    <ng-container *ngIf='isMessageDetailPage$ | async; else defaultHeaderTemplate'>
      <ion-buttons slot='start'>
        <ion-back-button defaultHref='/'></ion-back-button>
      </ion-buttons>
    </ng-container>

    <ng-template #defaultHeaderTemplate>
      <ion-segment
        color='secondary'
        value='todo'
      >
        <ion-segment-button
          [routerLink]="['']"
          [queryParams]="{filter: 'todo'}"
          value='todo'
        >
          Todo
        </ion-segment-button>
        <ion-segment-button
          [routerLink]="['']"
          [queryParams]="{filter: 'wip'}"
          value='wip'
        >
          In progress
        </ion-segment-button>
        <ion-segment-button
          [routerLink]="['']"
          [queryParams]="{filter: 'done'}"
          value='done'
        >
          Done
        </ion-segment-button>
      </ion-segment>

    </ng-template>
  </ion-toolbar>
</ion-header>

