:host {
  ion-item-sliding {
    border-radius: 1.3rem;
    margin-bottom: 14px;
    background: transparent;

    ion-item {
      width: 100%;
      color: var(--ion-secondary-text-color);


      &::part(native) {
        .item-inner {
          border-bottom-width: 0 !important;

        }

        @media (prefers-color-scheme: dark) {
          --border-color: var(--ion-background-color);
          background: var(--ion-background-color);
        }

        @media (prefers-color-scheme: light) {
          --border-color: var(--ion-background-color);
          background: var(--ion-background-color);
        }
      }
    }
  }

  .circular,
  .circular-filled {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .blue {
    border: 2px solid var(--td-blue);
  }

  .magenta {
    border: 2px solid var(--td-magenta);
  }

  .circular-filled {
    border: none;
    padding: 2px;
    border: 2px solid #66b275;
    background-color: #97d3a3;

    i {
      font-size: large;
      color: var(--ion-color-primary-contrast);
    }
  }

}
